body{
    background-color: blue;
}

/* Method one - Using Rotation */
/*section{
    width: 300px;
    height: 300px;
    border: 20px solid white;
    border-radius: 100%;
    border-top: 20px solid red;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
}

section:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 2s;
}*/

/* Method one */
/*section:hover h3{
    transform: rotate(-360deg);
    transition: all 2s;
}

section>h3{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: max-content;  
    height: max-content;
    font-size: 25px;
    font-weight: bold;
    color: white;
}*/




/* ------------------------------------------------- */

/* Method two - Using cosmetic element*/
section{
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

section>h3{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: max-content;  
    height: max-content;
    font-size: 25px;
    font-weight: bold;
    color: white;
    z-index: 3;
}

/* Method two */
section::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    border-radius: 100%;
    border: 20px solid white;
    border-top: 20px solid red;
}

section:hover::before{
    transform: rotate(360deg);
    transition: all 2s;
    cursor: pointer;
}